packages:
    yum:
        autoconf: []
        automake: []
        cmake: []
        freetype-devel: []
        gcc: []
        gcc-c++: []
        git: []
        libtool: []
        make: []
        nasm: []
        pkgconfig: []
        zlib-devel: []
        ImageMagick: []
        ImageMagick-devel: []
commands:
    01-mkdir:
        command: |
            if [ ! -d /opt/bin ] ; then mkdir -p /opt/bin; fi
            if [ ! -d /opt/ffmpeg ] ; then mkdir -p /opt/ffmpeg; fi
            if [ ! -d /opt/ffmpeg/ffmpeg-5.1-build ] ; then mkdir -p /opt/ffmpeg/ffmpeg-5.1-build; fi
    02-wget:
        command: |
            if [ ! -d /opt/ffmpeg/ffmpeg-5.1 ] ; then
                if [ ! -d /tmp/ffmpeg-5.1.tar.gz ] ; then wget -O /tmp/ffmpeg-5.1.tar.gz https://ffmpeg.org/releases/ffmpeg-5.1.tar.gz; fi
                tar xvf /tmp/ffmpeg-5.1.tar.gz -C /opt/ffmpeg
            fi
    03-configure:
        cwd: /opt/ffmpeg/ffmpeg-5.1
        command: |
            if [[ ! -f /opt/bin/ffmpeg ]] ; then
                PKG_CONFIG_PATH="/opt/ffmpeg/ffmpeg-5.1-build/lib/pkgconfig" \
                ./configure \
                --prefix="/opt/ffmpeg/ffmpeg-5.1-build" \
                --pkg-config-flags="--static" \
                --bindir="/opt/ffmpeg/ffmpeg-5.1-build/bin" \
                --enable-gpl \
                --enable-libx264 \
            fi
    04-make:
        cwd: /opt/ffmpeg/ffmpeg-5.1
        command: |
            if [[ ! -f /opt/bin/ffmpeg ]] ; then
                make && make install
            fi
    05-link:
        command: if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -sf /opt/ffmpeg/ffmpeg-5.1-build/bin/ffmpeg /usr/bin/ffmpeg; fi