# .ebextensions/nginx.config

files:
  "/etc/nginx/conf.d/my_custom_nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      # Increase types_hash_max_size to 2048.
      types_hash_max_size 2048;

      # Set the maximum client request body size to 1000M.
      client_max_body_size 1000M;
